/* Style for the map container */
#mapid {
    height: 100vh;
    width: 100vw;
}

/* Style for the filter container */
.filter-container {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 1000;
    background: rgba(255, 255, 255, 0.8);
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 1px 5px rgba(0,0,0,0.4);
    max-height: 90vh;
    overflow-y: auto;
}

/* Style for each filter option */
.filter-container div {
    margin: 5px 0;
}

/* Style for filter labels */
.filter-container label {
    margin-left: 5px;
    font-size: 14px;
    cursor: pointer;
}

/* Customizing the checkbox appearance slightly */
.filter-container input[type="checkbox"] {
    cursor: pointer;
}
