#mapid {
    height: 100vh;
}

.filter-container {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 1000;
    background: white;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}

.filter-container div {
    margin-bottom: 5px;
}
